In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./clean_data/updated_fully_merged_data.csv", dtype=np.float64)
df.head()

   sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
0  1.0  21.0  4.0    0.0     25336.0        27.0       2.0
1  1.0  21.0  4.0    0.0     25336.0        27.0       2.0
2  1.0  24.0  5.0    0.0     25427.0        30.0       2.0
3  1.0  24.0  5.0    0.0     25427.0        30.0       2.0
4  1.0  21.0  4.0    0.0     25336.0        27.0       2.0

In [4]:
need_norm = ["MEDHINC_CY", "WLTHINDXCY"]
norm = (df[need_norm] - df[need_norm].mean())/df[need_norm].std()
norm.mean(), norm.std(), norm.head()

(MEDHINC_CY    1.008381e-16
 WLTHINDXCY   -1.062775e-16
 dtype: float64,
 MEDHINC_CY    1.0
 WLTHINDXCY    1.0
 dtype: float64,
    MEDHINC_CY  WLTHINDXCY
 0   -0.796520   -0.501925
 1   -0.796520   -0.501925
 2   -0.789672   -0.372174
 3   -0.789672   -0.372174
 4   -0.796520   -0.501925)

In [6]:
df[need_norm] = norm
df.head()

   sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
0  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0
1  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0
2  1.0  24.0  5.0    0.0   -0.789672   -0.372174       2.0
3  1.0  24.0  5.0    0.0   -0.789672   -0.372174       2.0
4  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0

In [10]:
df = df.dropna()
df.head()

   sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
0  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0
1  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0
2  1.0  24.0  5.0    0.0   -0.789672   -0.372174       2.0
3  1.0  24.0  5.0    0.0   -0.789672   -0.372174       2.0
4  1.0  21.0  4.0    0.0   -0.796520   -0.501925       2.0

In [14]:
train, test = train_test_split(df, train_size=0.8, test_size=0.2)

In [20]:
train.head()

       sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
13853  1.0  18.0  2.0    4.0   -0.196870   -0.328924       2.0
65933  1.0  30.0  1.0   11.0   -1.182063   -0.804676       1.0
39944  0.0  31.0  0.0    1.0    0.071497    0.406329       4.0
42285  1.0  29.0  2.0    2.0   -0.173766   -0.328924       5.0
60728  1.0  45.0  5.0    9.0    1.420936    0.925331       2.0

In [21]:
test.head()

       sex   age  day  month  MEDHINC_CY  WLTHINDXCY  fel_misd
40261  1.0  16.0  6.0    1.0   -0.434984   -0.458674       1.0
24712  1.0  31.0  6.0    8.0   -0.883819   -0.761426       2.0
63297  0.0  31.0  5.0   11.0   -0.192129   -0.242424       2.0
9606   0.0  28.0  6.0    2.0    4.047339    2.698587       2.0
44055  1.0  58.0  0.0    2.0    2.117743    1.530833       5.0

In [11]:
lr = linear_model.LinearRegression()

In [16]:
inp = ["sex", "age", "day", "month", "WLTHINDXCY"]
oup = ["fel_misd"]
lr.fit(train[inp], train[oup])

LinearRegression()

In [19]:
lr.score(test[inp], test[oup])

0.005512738759440361